
.homeContainer {
    width: 100%;
    height: 100vh;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;

    gap: 10px;
    width: 90vw;

    max-width: 90vw;
    max-height: 90vh;

    background-color: red;
}

.column {
    display: flex;
    flex-direction: column;

    width: fit-content;
    
    min-width: 15vw;
    max-width: 30vw;
}

.columnTwo {
    display: flex;
    flex-direction: column;

    width: fit-content;
    
    min-width: 15vw;
    max-width: 40vw;
}

/* Resizeable Components */

.dropOne {
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid black;
}

.albumCover, .songDescription {
    background-color: black;
    border-radius: 5px;
    min-height: 25vh;
    height: 45vh;
    min-width: 15vw;
    aspect-ratio: 1 / 1;
}

.controls, .main {
    background-color: black;
    border-radius: 5px;
    min-width: 15vw;
    aspect-ratio: 1 /1 ;
}


.albumCover {
    /* background: url("../../assets/cover.jpeg"); */
    background-size: cover;
    resize: both;
    overflow: auto;
    max-width: 30vw;
    max-height: 64vh;
}

.songDescription {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    max-width: 30vw;

    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
}

.main {
    height: 80vh;
}

.controls {
    height: 10vh;
}

.playlist {
    height: 100%;
    width: 25vw;
    min-width: 15vw;
    background-color: black;
    border-radius: 5px;
}