
.homeContainer {
    width: 100%;
    height: 100vh;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 90vw;
    height: 90vh;

    display: flex;

    gap: 8px;

    box-sizing: border-box;

    overflow: auto;
}

.left_content {
    display: flex;
    height: 90vh;

    gap: 8px;
}

.column, .columnThree {
    display: flex;
    flex-direction: column;

    width: fit-content;
    gap: 8px;

    flex-grow: 1;
}

.column {
    min-width: 15vw;
}

.columnTwo {
    display: flex;
    flex-direction: column;

    width: fit-content;
    flex-grow: 1;

    gap: 10px;
    
    min-width: 15vw;
    max-width: 40vw;
}

.columnThree {
    min-width: 1vw;
}

/* Resizeable Components */

.resizeHandle {
    width: 10px;
    height: 10px;
    /* background-color: white; */
    float: right;
    cursor: nwse-resize;
}

.dropOne, .dropTwo {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    height: 45vh;
    min-width: 15vw;
    aspect-ratio: 1 / 1;
}

.dropOne {
    background-size: cover;
    background-position: center;

    min-height: 45vh;
    max-height: 64vh;

    min-width: 100%;
    max-width: 45vw;
}

.controls, .main {
    background-color: black;
    border-radius: 5px;
    min-width: 15vw;
    aspect-ratio: 1 /1 ;
}

.dropTwo {
    display: flex;

    min-height: 15vh;

    min-width: 100%;
    max-width: 45vw;

    flex-grow: 1;

    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
}

/* Main Playlists */

.main {
    height: 80vh;

    max-width: 35vw;

    min-width: 15vw;
    min-height: 65vh;

    padding: 15px 20px;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
}

.title_bar {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.main_playlist_covers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    margin: 10px;
    
    column-gap: 10px;
    row-gap: 10px;
    overflow: auto;
}

.cover {
    background-color: rgb(110, 135, 110);

    width: 120px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Controls */

.controls {
    height: 10vh;
    min-height: 10vh;
    max-height: 25vh;
}

.playlist {
    height: 90vh;
    background-color: black;
    border-radius: 5px;
}