
.homeContainer {
    width: 100%;
    height: 100vh;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 90vw;
    height: 90vh;

    display: flex;

    gap: 8px;

    box-sizing: border-box;

    /* background-color: red; */

    overflow: auto;
}

.left_content {
    display: flex;
    height: 90vh;

    gap: 8px;

    /* flex-grow: 1; */

    /* box-sizing: border-box; */
}

.column, .columnThree {
    display: flex;
    flex-direction: column;

    width: fit-content;
    gap: 8px;

    flex-grow: 1;
    /* max-width: 30vw; */
}

.column {
    min-width: 15vw;
}

.columnTwo {
    display: flex;
    flex-direction: column;

    width: fit-content;
    flex-grow: 1;
    
    min-width: 15vw;
    max-width: 40vw;
}

.columnThree {
    min-width: 1vw;
}

/* Resizeable Components */

.resizeHandle {
    width: 10px;
    height: 10px;
    background-color: white;
    float: right;
    cursor: nwse-resize;
}

.dropOne, .dropTwo {
    background-color: black;
    border-radius: 5px;
    height: 45vh;
    min-width: 15vw;
    aspect-ratio: 1 / 1;
}

.dropOne {
    background-size: cover;
    background-position: center;

    min-height: 45vh;
    max-height: 64vh;

    min-width: 100%;
    max-width: 45vw;


    /* resize: both;
    overflow: auto; */
}

.controls, .main {
    background-color: black;
    border-radius: 5px;
    min-width: 15vw;
    aspect-ratio: 1 /1 ;
}

.dropTwo {
    display: flex;

    min-height: 15vh;
    /* max-height: 64vh; */

    min-width: 100%;
    max-width: 45vw;

    flex-grow: 1;

    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;

    /* resize: both; */
    /* overflow: auto; */
}

.main {
    min-width: 15vw;
    height: 80vh;
}

.controls {
    height: 10vh;
}

.playlist {
    height: 90vh;
    /* min-width: 1vw; */
    background-color: black;
    border-radius: 5px;
}