
.homeContainer {
    width: 100%;
    height: 100vh;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 90vw;
    height: 90vh;

    display: flex;

    gap: 8px;

    box-sizing: border-box;

    overflow: auto;
}

.left_content {
    display: flex;
    height: 90vh;

    gap: 8px;
}

.column, .columnThree {
    display: flex;
    flex-direction: column;

    width: fit-content;
    gap: 8px;

    flex-grow: 1;
}

.column {
    min-width: 15vw;
}

.columnTwo {
    display: flex;
    flex-direction: column;

    width: fit-content;
    flex-grow: 1;

    gap: 10px;
    
    min-width: 15vw;
    max-width: 40vw;
}

.columnThree {
    min-width: 1vw;
}

/* Resizeable Components */

.resizeHandle {
    width: 10px;
    height: 10px;
    /* background-color: white; */
    float: right;
    cursor: nwse-resize;
}

.dropOne, .dropTwo {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    height: 45vh;
    min-width: 15vw;
    aspect-ratio: 1 / 1;
}

.dropOne {
    background-size: cover;
    background-position: center;

    min-height: 45vh;
    max-height: 64vh;

    min-width: 100%;
    max-width: 45vw;
}

.controls, .main {
    background-color: black;
    border-radius: 5px;
    min-width: 15vw;
    aspect-ratio: 1 /1 ;
}

.dropTwo {
    display: flex;

    min-height: 15vh;

    min-width: 100%;
    max-width: 45vw;

    flex-grow: 1;

    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
}

/* Main Playlists */

.main {
    height: 80vh;

    max-width: 35vw;

    min-width: 250px;
    min-height: 65vh;

    padding: 8px 15px;

    display: flex;
    flex-direction: column;
    

    overflow-y: scroll;
}

.main_navigation {
    background-color: rgba(172, 168, 168, 0.19);
    margin-top: 8px;
    border-radius: 4px;
    padding: 10px;
    padding-top: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main_search {
    display: flex;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    width: fit-content;
    gap: 4px;
    padding: 10px;
    cursor: pointer;
}

.title_bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.main_playlist_covers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    /* margin: 10px; */
    
    column-gap: 10px;
    row-gap: 10px;
    overflow: auto;
}

.cover {
    background-color: rgb(110, 135, 110);

    width: 120px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar {
    display: flex;
    align-items: center;
    gap: 10px;

    flex-grow: 1;

    border-bottom: solid white 1px;

    margin-bottom: 10px;
}

.searchResults {
    /* margin: 0px 2px; */
    height: 100%;
    overflow-y: scroll;
}

.searchTitle {
    margin: 7px 5px;
}

.albumsList {
    width: 100%;
    display: flex;
    gap: 15px;
    overflow: scroll;
}

.searchInput {
    background-color: transparent;
    border-radius: 2.5px;
    border: none;
    padding: 10px;
    color: white;
    flex-grow: 1;
}

.searchInput:focus {
    border: none;
    box-shadow: none;
}

.searchInput::placeholder {
    color: white;
}


/* Controls */

.controls {
    height: 10vh;
    min-height: 10vh;
    max-height: 25vh;
}


/* Playlist Results */

.playlist {
    height: 90vh;
    background-color: black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    overflow: auto;
}

.playlist_info {
    display: flex;
    gap: 10px;
}

.playlist_tracks {
    margin-top: 20px;
    overflow-y: scroll;
    height: 100%;
    /* overflow: auto; */
}

.playlist_cover {
    background-color: green;
    width: 40%;
    aspect-ratio: 1/1;
}