@font-face {
    font-family: Lato-Regular;
    src: url(./assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(./assets/fonts/Lato-Light.ttf);
}

* {
    min-width: none;
    min-height: none;
    padding: 0;
    margin: 0;
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

h1, h2 {
    color: white;
    font-family: Lato-Regular ;
}

h3, h4, p, ul, li {
    color: white;
    font-family: Lato-Light;
}

a {
    font-family: Lato-Light;
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 0px;
}