/* Header */

.header {
    width: 100%;
    height: 50px;

    box-sizing: border-box;

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header .container {
    width: 90vw;

    display: flex;
}

